.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  color: black;
}

.App-main {
  margin: 20px;
}

.App-aside {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  background-color: #f4f4f4;
}

.App-footer {
  background-color: #fff;
  color: black;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Add more styles for your layout and components here */
